<style>
    .search-btn{
        background-color: #fe424d;
        color:#fff;
        border-radius: 25px;
        display: inline-flex;
        align-items: center;
    }
    .search-inp{
        padding: 0 100px 0 100px;
        border-radius: 25px;
        line-height: 1.5;
    }
    .search-btn:hover{
        background-color: #fe424d;
        color:#fff;
    }
    .search-btn i{
        margin-right: 10px;
    }
.mode input {
    display: none;
}
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-location-arrow solids"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <label class="mode">
            <input type="checkbox" id="darkModeToggle">
            <i class="fa-solid fa-moon"></i>
        </label>
        <div class="navbar-nav">
        <!-- <a class="nav-link " href="/">Home</a> -->
        <a class="nav-link" href="/listings">Explore</a>
        </div>
        <div class="navbar-nav ms-auto">
            <form class="d-flex" action="/search" method="get">
                <input class="form-control me-3 search-inp" type="search" placeholder="Search Destinations" name="searchQuery">
                <button class="btn search-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Search </button>
            </form>
        
        </div>
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/listings/new">Add New Listing</a>
            <%if(!nowUser){%>
            <a class="nav-link " href="/signup"><b>Sign-Up</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
            <%}%>
            <% if(nowUser) {%>
                <a class="nav-link" href="/userDetails/<%= nowUser.id %>"><i class="fas fa-user"></i></a>
            <a class="nav-link" href="/logout"><b>Logout</b></a>
            <% } %>
            
            </div>
    </div>
    </div>
</nav>
<script>
    const darkModeToggle = document.getElementById('darkModeToggle');
const header = document.getElementsByClassName('navbar')[0];
const body = document.querySelector(".dark");
const cards = document.querySelectorAll(".card");
const solid = document.querySelector(".solids");
console.log(header,body,cards);
const isDarkMode = localStorage.getItem('darkMode') === 'enabled';
if (isDarkMode){
    solid.classList.add('dark-solid');
    header.classList.add('dark-mode');
    body.classList.add('dark-mode');
    addBack();
    darkModeToggle.checked = true;
}
darkModeToggle.addEventListener('change', () => {
    const cardBodies = document.querySelectorAll('.card-body'); // Select all card bodies
    if (darkModeToggle.checked) {
        solid.classList.add('dark-solid');
        header.classList.add('dark-mode');
        body.classList.add('dark-mode');
        addBack();
        cardBodies.forEach(cardBody => {
            cardBody.style.backgroundColor = '#C4D9FF'; // Change card body color
        });
        localStorage.setItem('darkMode', 'enabled');
    } else {
        setTimeout(() => {
            solid.classList.remove('dark-solid');
            header.classList.remove('dark-mode');
            body.classList.remove('dark-mode');
            removeBack();
            cardBodies.forEach(cardBody => {
                cardBody.style.backgroundColor = ''; // Reset card body color
            });
            localStorage.setItem('darkMode', 'disabled');
        }, 500);
    }
});

function addBack(){
    for(card of cards){
        card.classList.add("card-dark");
    }
}
function removeBack(){
    for(card of cards){
        card.classList.remove("card-dark");
    }
}
//  let toggleTheme = document.querySelector("#themeToggle"); // Example toggle button
//    toggleTheme.addEventListener("change", () => {
//        let cards = document.querySelectorAll(".card");
//        if (toggleTheme.checked) {
//            document.body.classList.add("dark-mode");
//            cards.forEach(card => {
//                card.classList.remove("card-light");
//                card.classList.add("card-dark");
//            });
//        } else {
//            document.body.classList.remove("dark-mode");
//            cards.forEach(card => {
//                card.classList.remove("card-dark");
//                card.classList.add("card-light");
//            });
//        }
//    });
</script>