<%- layout("/layout/boilerplate") %>
<body>
    <div class="alert alert-danger mt-3 col-8 offset-2 navbar-expand-md" role="alert">
        <p>someting went wrong Message - <%= message%></p>
    </div>
</body>