<%- layout("/layout/boilerplate") %>
<body>
    <ul>
    <li><strong>Introduction</strong>
    <ul>
        <li>Welcome to <b>Safarsathi!</b> These terms and conditions govern your use of our platform.</li>
        <li>By accessing or using Safarsathi, you agree to comply with and be bound by these terms.</li>
    </ul>
    </li>

    <li><strong>User Accounts</strong>
    <ul>
        <li>Users must create an account to host listings and post reviews.</li>
        <li>Account information must be accurate, complete, and updated regularly.</li>
        <li>Safarsathi reserves the right to suspend or terminate accounts found in violation of our policies.</li>
    </ul>
    </li>

    <li><strong>Privacy Policy</strong>
    <ul>
        <li>We respect your privacy and are committed to protecting your personal information.</li>
        <li>Collected data includes account details, interactions, and user preferences.</li>
        <li>We use cookies to enhance user experience and provide tailored services.</li>
        <li>Your information will not be shared with third parties except as required by law or to facilitate service delivery.</li>
    </ul>
    </li>

    <li><strong>Listing and Reviews</strong>
    <ul>
        <li>Users can host listings and submit reviews based on their experiences.</li>
        <li>All content must be truthful, respectful, and adhere to Safarsathi's guidelines.</li>
        <li>Authenticated users have full control over their listings and reviews.</li>
        <li>Users can modify or delete their own hosted listings and reviews at any time.</li>
    </ul>
    </li>

    <li><strong>Limitation of Liability</strong>
    <ul>
        <li>Safarsathi is not responsible for the actions of users, including hosts and guests.</li>
        <li>We do not guarantee uninterrupted access to our services and are not liable for any damages resulting from technical issues.</li>
    </ul>
    </li>

    <li><strong>Governing Law</strong>
    <ul>
        <li>These terms and policies shall be governed by and interpreted in accordance with the laws of India.</li>
        <li>Users agree to submit to the exclusive jurisdiction of the courts of India for any disputes arising out of the use of Safarsathi.</li>
    </ul>
    </li>

    <li><strong>Modifications</strong>
    <ul>
        <li>Safarsathi does not have the right to modify user-hosted listings or reviews.</li>
        <li>Only authenticated users can modify or delete their own content.</li>
    </ul>
    </li>

    <li><strong>Contact Information</strong>
    <ul>
        <li>If you have any questions regarding these terms, please contact us at <mark>'"trivikramagroupofltd@gmail.com"'</mark></li>
    </ul>
    </li>
</ul>
</body>